<form class="login-container">
    <p><input type="username" placeholder="Username"></p>
    <p><input type="password" placeholder="Password"></p>
    <p><input type="submit" value="Log in"></p>
  </form>